[Unit]
Description=OpenVPN service 
After=network.target

[Service]
Type=idle
ExecStartPre=systemctl start transmission-daemon
ExecStart=openvpn --config "/etc/openvpn/client/moscow_r1.ovpn"
ExecReload=/bin/kill -USR2 $MAINPID
ExecStopPost=systemctl stop transmission-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
