#!/bin/sh
openvpn --config "/etc/openvpn/client/russia_moscow_r1.ovpn" --dev tun10 --route-noexec || \
openvpn --config "/etc/openvpn/client/russia_moscow_r2.ovpn" --dev tun10 --route-noexec || \
openvpn --config "/etc/openvpn/client/russia_moscow_r3.ovpn" --dev tun10 --route-noexec || \
openvpn --config "/etc/openvpn/client/russia_moscow_r4.ovpn" --dev tun10 --route-noexec
exit 0
