server {
    server_name {{ inventory_hostname }};
    listen 80;
    return 301 https://$host$request_uri;
}

server {
    server_name {{ inventory_hostname }};
    listen 443 ssl;

    ssl_certificate "/etc/pki/nginx/sapkyy.home.crt";
    ssl_certificate_key "/etc/pki/nginx/sapkyy.home.key";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;

    client_max_body_size 100M;

    access_log /var/log/nginx/plex_access.log;
    error_log  /var/log/nginx/plex_error.log;

    location / {
      proxy_pass http://127.0.0.1:{{ proxy_port }};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-for $remote_addr;
      port_in_redirect off;
      proxy_redirect http://127.0.0.1:{{ proxy_port }}/ /;
      proxy_connect_timeout 600;
    }
}
