config ddns 'global'
        option ddns_dateformat '%F %R'
        option ddns_loglines '250'
        option ddns_rundir '/var/run/ddns'
        option ddns_logdir '/var/log/ddns'

config service 'duckdns'
        option service_name 'duckdns.org'
        option use_ipv6 '0'
        option enabled '1'
        option lookup_host '{{ ddns_lookup_hosts }}'
        option domain '{{ ddns_lookup_domains }}'
        option username '{{ ddns_username }}'
        option password '{{ ddns_password }}'
        option ip_source 'network'
        option interface 'wan'
        option use_syslog '2'
        option check_unit 'minutes'
        option force_unit 'minutes'
        option retry_unit 'seconds'
        option ip_network 'wan'
