config interface 'loopback'
        option device 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option packet_steering '1'

config device
        option name 'br-lan'
        option type 'bridge'
        list ports 'lan1'
        list ports 'lan2'
        list ports 'lan3'

config interface 'lan'
        option device 'br-lan'
        option proto 'static'
        option ipaddr '192.168.31.1'
        option netmask '255.255.255.0'
        option ip6assign '60'
        option delegate '0'

config interface 'wan'
        option device 'wan'
        option proto 'pppoe'
        option username '{{ provider_login }}'
        option password '{{ provider_password }}'
        option ipv6 'auto'
        option persist 'true'
        option maxfail '0'
        option holdoff '10'

config interface 'wan6'
        option device 'wan'
        option proto 'dhcpv6'

config interface 'openconnect_tun0'
        option proto 'none'
        option device 'tun0'

config interface 'openvpn_tun10'
        option proto 'none'
        option device 'tun10'

config interface 'openvpn_tun11'
        option proto 'none'
        option device 'tun11'
